<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Easiest Way to Add Input Masks to Your Forms</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="signup.css">
</head>
<body>
<div class="registration-form" >
  <form action="../../login/src/login.html" id="myForm" method="post" onsubmit="submitForm(event)">
    <div class="form-icon">
      <span><i class="icon icon-user " ></i></span>
    </div>

    <div class="form-group">
      <div class="F_name-container" style="margin-bottom: 5px;">
      <input style="margin-bottom: 0" type="text" name="FullName" class="form-control item" id="F_name" placeholder="Full Name"required>
      <span class=" f_cross"><i class="fas fa-times"></i></span>
      <span class="  f_check"><i class="fas fa-check"></i></span>
      </div>
        <p id="f_p" style="margin-left: 15px;font-size: 12px;display: none">Please enter full name</p>

    </div>
    <script>
      document.getElementById('F_name').addEventListener('input',function(){
        var fullNameInput = document.getElementById("F_name");
        var fullNameValue = fullNameInput.value;
        var checkIcon = document.querySelector(".f_check");
        var crossIcon = document.querySelector(".f_cross");
        // Regular expression to check if the input contains only alphabetic characters
        var alphabeticRegex = /^[A-Za-z\s]+$/;

        if (alphabeticRegex.test(fullNameValue) ) {
          fullNameInput.classList.remove("no-match");
          fullNameInput.classList.add("match");
          checkIcon.style.display = "inline-block";
          crossIcon.style.display = "none";
          f_p.style.color='black';
          f_p.style.display='none';
        } else {
          fullNameInput.classList.remove("match");
          fullNameInput.classList.add("no-match");
          checkIcon.style.display = "none";
          crossIcon.style.display = "inline-block";
          f_p.style.color='red';
          f_p.style.display='';
        }
      })
    </script>
    <div class="form-group"style="margin-bottom: 5px;">
      <div class="uId">
      <input style="margin-bottom: 0" type="text" name="userId" class="form-control item" id="userId" placeholder="User Id"required>
      <span class="u_cross"><i class="fas fa-times"></i></span>
      <span class="u_check"><i class="fas fa-check"></i></span>
      </div>
      <p id="u_p" style="margin-left: 15px;font-size: 12px;display: none">User id must contain alphabets and number.Length must be of 8 characters</p>
    </div>
    <script>
      document.getElementById('userId').addEventListener('input',function(){
        var fullNameInput = document.getElementById("userId");
        var fullNameValue = fullNameInput.value;
        var checkIcon = document.querySelector(".u_check");
        var crossIcon = document.querySelector(".u_cross");
        // Regular expression to check if the input contains only alphabetic characters
        var alphabeticRegex = /^[A-Za-z0-9\s]+$/;

        if (alphabeticRegex.test(fullNameValue) && fullNameValue.length==8) {
          fullNameInput.classList.remove("no-match");
          fullNameInput.classList.add("match");
          checkIcon.style.display = "inline-block";
          crossIcon.style.display = "none";
          u_p.style.color='black';
          u_p.style.display='none'
        } else {
          fullNameInput.classList.remove("match");
          fullNameInput.classList.add("no-match");
          checkIcon.style.display = "none";
          crossIcon.style.display = "inline-block";
          u_p.style.color='red';
          u_p.style.display=''
        }
      })
    </script>
    <div class="form-group">
      <div class="p" style="margin-bottom: 0" >
      <input style="margin-bottom: 5px;"type="password"  name="password" class="form-control item" id="password" placeholder="Password"required>
        <span class="p_cross"><i class="fas fa-times"></i></span>
        <span class="p_check"><i class="fas fa-check"></i></span>
      </div>
      <p id="p_p" style="margin-left: 15px;font-size: 12px;display: none">Password must contain  at least one upperCase, one LowerCase, one numeric, one  special character</p>

    </div>
    <script>
      document.getElementById('password').addEventListener('input',function(){
        var fullNameInput = document.getElementById("password");
        var fullNameValue = fullNameInput.value;
        var checkIcon = document.querySelector(".p_check");
        var crossIcon = document.querySelector(".p_cross");
        // Regular expression to check if the input contains only alphabetic characters
        var regex=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\[\]{};':"\\|,.<>?]).{8,15}$/
        if ( regex.test(fullNameValue)) {
          fullNameInput.classList.remove("no-match");
          fullNameInput.classList.add("match");
          checkIcon.style.display = "inline-block";
          crossIcon.style.display = "none";
          p_p.style.color='black';
          p_p.style.display='none'
        } else {
          fullNameInput.classList.remove("match");
          fullNameInput.classList.add("no-match");
          checkIcon.style.display = "none";
          crossIcon.style.display = "inline-block";
          p_p.style.color='red';
          p_p.style.display=''
        }
      })
    </script>
    <div class="form-group">
      <div class="password-container" style="margin-bottom: 0">
        <input type="password"style="margin-bottom: 5px;" id="confirm_password" class="form-control item"placeholder="Confirm Password"required name="confirm_password" required>
        <!-- Add Font Awesome icons -->
        <span class="password-icon check-icon"><i class="fas fa-check"></i></span>
        <span class="password-icon cross-icon"><i class="fas fa-times"></i></span>
      </div>
      <p id="cp_p" style="margin-left: 15px;font-size: 12px;display: none">Password did not match</p>

    </div>

    <script>
      document.getElementById("confirm_password").addEventListener("input", function() {
        var passwordInput = document.getElementById("password");
        var confirmPasswordInput = document.getElementById("confirm_password");
        var checkIcon = document.querySelector(".check-icon");
        var crossIcon = document.querySelector(".cross-icon");

        if (passwordInput.value === confirmPasswordInput.value) {
          confirmPasswordInput.classList.remove("no-match");
          confirmPasswordInput.classList.add("match");
          checkIcon.style.display = "inline-block";
          crossIcon.style.display = "none";
          cp_p.style.color='black';
          cp_p.style.display='none'
        } else {
          confirmPasswordInput.classList.remove("match");
          confirmPasswordInput.classList.add("no-match");
          checkIcon.style.display = "none";
          crossIcon.style.display = "inline-block";
          cp_p.style.color='red';
          cp_p.style.display=''
        }
      });
    </script>
    <div class="form-group">
      <button  type="submit" style="cursor:pointer"  class="btn btn-block create-account"disabled>Create Account</button>
    </div>
  </form>

</div>

</body>
<script src="signup.js"></script>

</html>
